#R stuff
.Rhistory
.Rproj.user

#data
mens_6mo_counts.rds
6month_LMMP.rds
6mo_MENS*.rds
6mo_MENS*.h5ad
6moLMMP*
6mo_LMMP*
results/

#This isn't working

!preprocessing/bustools_required_files_10xv2_mm/737K-august-2016.txt

preprocessing_old/
plots/

scripts/*_cache
scripts/*_files



projections/




#project specific data
ligand_receptors

mens/umap_*
mens/projection_ref
mens/old
mens/MENS_followup_files/*

velocity/plots
velocity/results

DRS/plots
DRS/data
DRS/out

preprocessing_old/


