#R stuff
.Rhistory
.Rproj.user

#data
mens_6mo_counts.rds
6month_LMMP.rds
6mo_MENS_11-25.rds
6moLMMP*
6mo_LMMP*
results/
preprocessing/bus_output/
plots/
tabula_muris/*
!tabula_muris/scripts
teichman_gut_atlas/*
!teichman_gut_atlas/scripts
vanderbilt/
!vanderbilt/scripts

preprocessing/

#This isn't working
!preprocessing/scripts
!preprocessing/bustools_required_files_10xv2_mm/737K-august-2016.txt

projections/


!teichman_gut_atlas/scripts


#project specific data
disease_enrichment

ligand_receptors

mens/umap_*
mens/projection_ref
mens/old
mens/MENS_followup_files/*

velocity/plots
velocity/results
